/* TABLETS PORTRAIT */
@media only screen and (min-width: 450px) {
    #search-bar {
        min-width: 300px;
        height: 25px;
    }

    .search-cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #menu-btn {
        display: inline;
        border: none;
        background-color: var(--main-text-color-);
    }

    #ingredientsList li {
        padding: 3px;
        margin-left: 14%;
    }

    #instructionsList li {
        margin-left: 14%;
        padding: 10px;
    }

    #full-recipe {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .recipe-cards {
        max-width: 40%;
    }

    .saved-recipes {
        flex-wrap: wrap;
    }
}